.greeting { margin-bottom: 20px; }
.no-margin { margin: 0px }
.subscript { font-size: 0.5rem; }
.suggested-search-term { 
  margin: 5px; 
  padding: 5px;
  background-color: #f8f9fa;
  color: #212529;
  display: inline-block;
}
