// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title { font-family: 'Ubuntu', sans-serif; }

.main { margin: 0 3%; }

*, ::after, ::before { max-width: 100%; }
